<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">All Endpoints Mocks</a></li>
    <li><a href="#">mock 0</a></li>
    <li><a href="#">mock 1</a></li>
    <li><a href="#">mock 2</a></li>
    <li><a href="#">Create Endpoint Mock</a></li>
  </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">{{mock.name}} <small>Edit</small></h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputRequestPath" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Display Name" ng-model="mock.name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputRequestPath" class="col-sm-2 control-label">Path</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputRequestPath" placeholder="Path" ng-model="mock.url">
      </div>
    </div>
    <div class="form-group">
      <label for="inputRequestVerb" class="col-sm-2 control-label">Verb</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputRequestVerb" placeholder="Verb" ng-model="mock.verb">
      </div>
    </div>
    <div class="form-group">
      <label for="inputResponseStatus" class="col-sm-2 control-label">Response Status</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputBodyResponse" placeholder="Response Status" ng-model="mock.response.status">
      </div>
    </div>
    <div class="form-group">
      <label for="inputResponseBody" class="col-sm-2 control-label">Response Body</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputResponseBody" placeholder="Response Body" rows="8" ng-model="mock.response.body"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="save(mock)" ng-disabled="form.$invalid || isUnchanged(mock) || requestBeenSend" type="submit" class="btn btn-primary">
        <span ng-hide="requestBeenSend" class="glyphicon glyphicon-ok"></span>
        <img ng-show="requestBeenSend" src="/images/button-default-disabled-loading.gif" style="height: 19px;">
        {{ requestBeenSend? " Sending..." : " Save"}}</button>
        <button ng-click="cancel()" ng-disabled="requestBeenSend" type="submit" class="btn btn-default">Cancel</button>
        <button ng-click="reset()" ng-disabled="isUnchanged(mock) || requestBeenSend" type="submit" class="btn btn-link">Reset</button>
      </div>
    </div>
  </form>
</div>